# Игнорировать .env файл (содержит токены и пароли)
.env

# Папки и файлы Python-компиляции
__pycache__/
*.py[cod]

# Виртуальное окружение
venv/
env/

# Логи
*.log

# Mac и системные файлы
.DS_Store
